body {
    margin: 0;
    min-height: 100%; /* Altura mínima del body */
    height: auto; /* Permitir crecimiento indefinido */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    background-image: url('public/img/fondo.jpg'); /* Cambia esto a la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: 0; /* Colocar la imagen detrás del texto */
}
.marco {
    width: 80%;
    height: auto;
    border: 10px solid white;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.card {
    max-width: 100%; /* No exceder el ancho del contenedor */
    max-height: 100%; /* No exceder la altura del contenedor */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    width: 100%;
    margin-top: 0px;
    position: relative; /* Para que el título esté en la parte superior de la imagen */
    z-index: 1; /* Colocar el texto por encima de la imagen */
    font-size: 2.5em; /* Tamaño de la fuente */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra para el texto */
    opacity: 1; /* Ajusta el valor de opacidad aquí */
}

.cronometro {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 15px;
    position: relative;
    z-index: 2;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

.textoCronometro {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px; /* Espacio entre el texto y el cronómetro */
    text-align: center; /* Centra el texto */
    z-index: 2;
    border-radius: 10px;
    font-family: 'Tangerine', serif;
    background-color: rgba(255, 255, 255, 0.8);
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.box {

    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #e7b81c;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.box span {
    display: block;
    font-size: 2rem;
    margin-bottom: 5px;
}

.box small {
    display: block;
    font-size: 1rem;
    text-align: center; /* Centrando el texto de izquierda a derecha */
    text-transform: uppercase;
    color: #e7b81c;
}

@media (max-width: 600px) {
    .box {
        padding: 15px;
        min-width: 9%;
    }

    .box span {
        font-size: 1.5rem;
    }

    .box small {
        font-size: 0.55rem;
    }
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.drop {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #e7b81c; /* Color dorado */
    opacity: 0.8;
    animation: fall 2s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.number-container {
    font-size: 15vw; /* Tamaño del texto */
    font-weight: bold;
    color: #e7b81c; /* Color dorado */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra del texto */
    z-index: 2;
    text-align: center; /* Centrando el texto de izquierda a derecha */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor padre */
    font-family: 'Tangerine', serif;
}

.imgPrincipal-container {
    font-size: 10px; /* Tamaño del texto */
    color: #e7b81c; /* Color dorado */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor padre */
    text-align: center; /* Centrando el texto de izquierda a derecha */
}

.imgGoldBanner-container {
    color: #e7b81c; /* Color dorado */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor padre */
    text-align: center; /* Centrando el texto de izquierda a derecha */
    position: relative; /* Habilita posicionamiento relativo */
    display: inline-block; /* Permite ajustar el tamaño del contenedor a la imagen */
}

.imgGoldBanner-container img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio en la parte inferior de la imagen */
}

.textoCinta {
    position: absolute; /* Posiciona el texto sobre la imagen */
    top: 30%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el punto de referencia para centrar */
    color: rgb(0, 0, 0); /* Color del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra para mejorar la legibilidad */
    font-family: 'Tangerine', serif;
    font-size: 8vw;
    font-weight: bold;
}

.textoBaja {
    margin-top: 0;
    position: relative; /* Para que el título esté en la parte superior de la imagen */
    z-index: 1; /* Colocar el texto por encima de la imagen */
    font-size: 40px; /* Tamaño de la fuente */
    color:  #ffffff;; /* Color del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra para el texto */
    animation: bajar 3s ease forwards; /* Aplicar animación */
    transform: translateY(-100%); /* Iniciar desde arriba */
    font-family: 'Tangerine', serif;
    font-weight: bold;
}

@keyframes bajar {
    0% {
        transform: translateY(-100%); /* Comienza fuera de la vista, arriba */
    }
    100% {
        transform: translateY(0); /* Termina en su posición original */
    }
}

.textoInvitacion {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    margin-bottom: 15px; /* Espacio entre el texto y el cronómetro */
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
    z-index: 2;
 
}
  
.textoImportante {
    color: #000000; /* Texto azul oscuro discreto */
    font-size: 0.8rem;
    border: 2px solid  #95a5a6; /*Borde gris suave */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: zoomEffect 2s ease-in-out infinite; /* Aplicar la animación zoomEffect */
}

@keyframes zoomEffect {
    0%, 100% {
        transform: scale(1); /* Tamaño original */
    }
    50% {
        transform: scale(1.05); /* Ampliación al 105% */
    }
}

.textoImportante:hover {
    background-color: #d6dce6; /* Fondo gris muy suave al pasar el ratón */
    color: #34495e; /* Texto ligeramente más oscuro en hover */
    border-color: #7f8c8d; /* Borde gris más oscuro en hover */
}

.map-button {
    display: inline-block;
    background: linear-gradient(135deg, #e7b81c, #e7b81c); /* Gradiente dorado */
    color: #000; /* Texto negro */
    padding: 15px 30px; /* Espaciado interno */
    font-size: 1.2em; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 25px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transiciones suaves */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra para profundidad */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

.map-button:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada al pasar el ratón */
}

.map-button:active {
    transform: scale(0.95); /* Efecto de compresión al hacer clic */
}